<!doctype html>
<html>
<head>
	<!-- HEAD -->
	{% block head %}
		<meta charset="UTF-8">		
	  	<title>Climbing7 | Topos</title>
	{% endblock %}


  	<script type="text/javascript">
  	ROOT = '{{ basePath() }}';
  	LIBRARY_DIR = '{{ library('')}}';
  	MEDIA_DIR = ROOT + '/media';
  	</script>

  	<!-- CSS -->
  	{% block css %}
  		{# Climbin7 css #}
  		{{ css(['topos.css', 'main.css', 'index.css']) }}
  		
  		{# Others #}
  		{{ css(['justifiedGallery.css']) }}
	{% endblock %}

	<!-- <link href="css/swipebox.css" rel="stylesheet" type="text/css"/> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.6.1.min"></script>
	<script src="js/menuSlide.js"></script>
	<script src="js/slideshow.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/jquery.justifiedGallery.js"></script>
	<script src="js/jquery.swipebox.min.js"></script> -->
</head>

<body>
<section id="top" ></section>
<!--TOP PAGE-->
<section id="top"  style="position:absolute;z-index 20;width:100%;overflow:hidden;margin-bottom:0px;">
	<section id="topPage">
		<ul id="topMenu" style="width:144px;">
			<li><a class="tooltips" href="index.html"><img src="{{ asset('/img/home.png') }}" title="retour à la page d'accueil"/></a></li>
			<li><a href=""><img id="trigger1" src="{{ asset('/img/menu.png') }}" title="menu principal" style="padding-top:1px;"/></a></li>
			<li><a href=""><img id="trigger2" src="{{ asset('/img/infos.png') }}" title="infos Trekking"/></a></li>
			<li><a href=""><img id="trigger3" src="{{ asset('/img/list.png') }}" title="index de tous les treks"/></a></li>
		</ul>
	</section>
</section>

<!--MENU PRINCIPAL-->
<!-- <section id="mainMenuFrame">
	<aside>
		<img src="{{ asset('/img/escalade.jpg') }}" style="width:120px;"/>
		<p class="titre">Escalade</p>
		<section>
			<p>Émirats</p>
			<p>Espagne</p>
			<p>France</p>
			<p>Jordanie</p>
			<p>Oman</p>
			<p>Vietnam</p>
		</section>
	</aside>
	<aside>
		<img src="{{ asset('/img/ferrata.jpg') }}" style="width:120px;"/>
		<p class="titre">Via ferrata</p>
		<section>
			<p>Émirats</p>
			<p>Espagne</p>
			<p>France</p>
			<p>Oman</p>
		</section>
	</aside>
	<aside>
		<img src="{{ asset('/img/canyoning.jpg') }}" style="width:120px;"/>
		<p class="titre">Canyoning</p>
		<section>
			<p>Émirats</p>
			<p>Espagne</p>
			<p>France</p>
			<p>Jordanie</p>
			<p>Oman</p>
		</section>
	</aside>
	<aside>
		<img src="{{ asset('/img/trekking.jpg') }}" style="width:120px;"/>
		<p class="titre">Trekking</p>
		<section>
			<p>Émirats</p>
			<p>Espagne</p>
			<p>France</p>
			<p>Jordanie</p>
			<p>Oman</p>
			<p>Nepal</p>
			<p>Sardaigne</p>
			<p>Vietnam</p>
		</section>
	</aside>
	<aside>
		<img src="{{ asset('/img/voyage.jpg') }}" style="width:120px;"/>
		<p class="titre">Voyage</p>
		<section>
			<p>Émirats</p>
			<p>Espagne</p>
			<p>France</p>
			<p>Inde</p>
			<p>Jordanie</p>
			<p>Maroc</p>
			<p>Oman</p>
			<p>Nepal</p>
			<p>Sardaigne</p>
			<p>Vietnam</p>
		</section>
	</aside>
	<section style="clear:left;border-top:1px solid #ccc;">
		<p style="font-sier:12px; text-align:center;margin-top:5px;">climbing7.com | 2016</p>
	</section>
</section> -->
<!--FIN MENU PRINCIPAL-->
<!--MENU CATEGORIE-->
<!-- <section id="infoCategorieFrame">
	<img src="{{ asset('/img/trekking.jpg') }}" style="width:120px;float:left;margin-right:20px;"/>
	<p style="font-family:oswaldbook;font-size:26px;margin-top:0;">Infos Trekking</p>
	<p>Les topos trekking regroupent plusieurs formes de randonnée: les classiques, la haute montagne, les randos équipées et le scrambling. Chauqe trek est coté en difficulté (Facile à Extrêment Difficile) et en intérêt (1 à 5 étoiles).</p>
	</p><span style="font-family:oswaldbook;">- les randonnées classiques</span> ne nécéssitant aucun matériel particulier, pratiquées depuis le niveau de la mer jusqu'à la moyenne montagne<br>
	<span style="font-family:oswaldbook;">- les randonnées de haute montagne</span> autour ou au-dessus des 3000m en Europe (plus haut dans l'Himalaya) et qui nécessitent du matériel spécifique comme des crampons, un piolet, corde et baudrier.<br/>
	<span style="font-family:oswaldbook;">- les randonnées équipées</span> qui désignent les parcours où certains passages sont aménagés avec des barreaux, des cordes à noeuds, un relais pour rappeler ou encore des clous pour aider à la progression. Un matériel spécifique peut alors être nécessaire selon les besoins: casuqyes, abosrbeur d'énergie, baudrier, casque, corde, descendeur.<br/>
	<span style="font-family:oswaldbook;">- les randonnées scrambling</span> où il faut impérativement passer des sections en grimpant en libre sans l'aide de matériel ou d'équipement, parfois sur des endroits exposés à la chute.</p>
	<p>Ces treks sont cotés en difficulté en prenant en compte tous les aspects qui entrent en jeu: l'engagement physique, la durée, le dénivelé, l'engagement mental sur des passages exposés, les diffcultés éventuelles à franchir. Cela reste une appréciation indicative. Selon les conditions du pratiquant ou des conditions atmosphériques, certains parcousr peuvent devenir plus difficiles.</p>
	<p>L'intérêt dépend de la qualité et de l'originalité ou la varoéte du parcours mais ausi de l'ambiance, de l'environnement et de la beauté du site. C'est évidemmment là aussi une appréciation subjective et relative (si il pleut ce jour là ou que tout est bouché, c'est différent !)</p>
	<section style="clear:left;border-top:1px solid #ccc;">
		<p style="font-sier:12px; text-align:center;margin-top:5px;">climbing7.com | 2016</p>
	</section>
</section> -->
<!--FIN MENU CATEGORIE-->
<!--INDEX CATEGORIE-->
<!-- <section id="indexCategorieFrame">
	<img src="{{ asset('/img/trekking.jpg') }}" style="width:120px;float:left;margin-right:20px;margin-bottom:20px;"/>
	<p style="font-family:oswaldbook;font-size:26px;margin-top:0;">Index Trekking</p>
	<p>Tous les topos classés par pays, région et site. Faire défiler pour voir toute la liste.</p>
	<section id="tableFrame">
		<table>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m, Trad, 6a</td>
				<td><span style="color:#8c6239">★★☆☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Dream On</td>
				<td>120m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★★★★☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Nakhab</td>
				<td>Little Princess, Red Wall</td>
				<td>150m, semi-équipé, 6a</td>
				<td><span style="color:#8c6239">★★★★★</span></td>
			</tr>
			<tr>
				<td>Espagne</td>
				<td>Catalunya</td>
				<td>Montserrat</td>
				<td>Atardecer a la Serra del Muntaner</td>
				<td>100m, équipé, 6b</td>
				<td><span style="color:#8c6239">★★★★☆</span></td>
			</tr>
			<tr>
				<td>France</td>
				<td>Ariège</td>
				<td>Calames</td>
				<td>Pilier Cathare</td>
				<td>180m, équipé, 6a+</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★☆☆☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>France</td>
				<td>Ariège</td>
				<td>Calames</td>
				<td>Pilier Cathare</td>
				<td>180m, équipé, 6a+</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★☆☆☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>France</td>
				<td>Ariège</td>
				<td>Calames</td>
				<td>Pilier Cathare</td>
				<td>180m, équipé, 6a+</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★☆☆☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>France</td>
				<td>Ariège</td>
				<td>Calames</td>
				<td>Pilier Cathare</td>
				<td>180m, équipé, 6a+</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★☆☆☆☆</span></td>
			</tr>
			<tr>
				<td>Émirats</td>
				<td>Ras Al Khaimat</td>
				<td>Wadi Ghalilah</td>
				<td>Wheels Steels</td>
				<td>150m équipé, Trad, 6a</td>
				<td><span style="color:#8c6239">★★★☆☆</span></td>
			</tr>
		</table>
	</section>
	<section style="clear:left;border-top:1px solid #ccc;">
		<p style="font-sier:12px; text-align:center;margin-top:5px;">climbing7.com | 2016</p>
	</section>
</section> -->
<!-- FIN INDEX CATEGOREI-->
<!--HEADER-->
<header style="background-image:url('{{ asset('/img/banniereTrekking.jpg') }}');height:400px;width:100%;margin-bottom:40px;">
	<section style="width:1000px;margin:auto;color:white;font-size:30px;">
		<img src="<?= asset('img/Climbing7.png') ?>" style="width:250px;margin-top:275px;margin-left:200px;"/>
	</section>
</header>
<!--MAIN-->
<section  style="width:1000px;margin:auto;">
	<p id="flashMessage"><?= $flash['success'] ?></p>

	<img src="{{ asset('/img/canyoning.jpg') }}" style="display:bloc; width:175px;height:175px;border:2px solid white;position:absolute;z-index:10;top:265px;"/>

	
	{% block content %}{% endblock %}

</section>
<!--FIN MAIN -->
<!--FOOTER-->
<section style="width:100%;overflow:hidden;background-image:url('{{ asset('/img/bg5.png') }}');">
	<section style="width:1000px;margin:auto;overflow:hidden;">
	<section style="text-align:center;margin-top:0;padding-top:40px;">
		<p class="etiquette"><span style="background-color:#8c6239;color:#fff;padding:0px 5px;">Web ressources</span><a href="#top" class="scroll top" style="color:#8c6239;padding:0 4px;margin:0;text-decoration:none;">top page</a></p>
	</section>	
	<br/><br/>
	<footer>
		<aside>
			<p class="titre">Web Escalade</p>
			<section style="margin-top:20px;">
				<a href="http://escalatroncs.wordpress.com/">Escalatronc (Catalunya)</a>
				<a href="http://esgarrapacrestes.blogspot.ae/">Esgarrapacrestes (Catalunya)</a>
				<a href="http://indretsdescalada.wordpress.com/">Indrest d'Escalada (Catalunya)</a>
				<a href="http://lanochedelloro.com/">La Noche de Lloro (Espagne)</a>
				<a href="http://luichy-lanochedelloro2.blogspot.com.es/">Blog de Luichy (Espagne)</a>
				<a href="http://www.redarmadapublishing.com/blog/">Red Armada (UAE)</a>
				<a href="http://uaeclimbing.blogspot.ae">UAE Climbing (UAE)</a>
				<a href="http://27crags.com/crags/all">27 Crags (Monde)</a>
				<a href="http://www.remi-thivel.com/topos/topos.html">Remy Thivel Site (Monde)</a>
				<a href="http://www.thecrag.com/home">The Crag (Monde)</a>
				<a href="http://www.zazland.com/">Zazland (Monde)</a>
			</section>
		</aside>	
		<aside>
			<p class="titre">Web Ferrata et Canyon</p>
			<section style="margin-top:20px;">			
				<a href="http://deandar.com/">Deandar (Ferrata et Trek Espagne)</a>
				<a href="http://www.descente-canyon.com/">Descente de Canyon (Monde)</a>
			</section>
		</aside>
		<aside>
			<p class="titre">Web Voyage</p>
			<section style="margin-top:20px;">
				<a href="http://www.zazland.com/">Zazland (Monde)</a>
				<a href="https://globailleurs.wordpress.com">Globailleurs  (Monde)</a>
			</section>
		</aside>
		<aside>
			<p class="titre">Web Voyage</p>
			<section style="margin-top:20px;">
				<a href="http://www.zazland.com/">Zazland (Monde)</a>
				<a href="https://globailleurs.wordpress.com">Globailleurs  (Monde)</a>
				<a href="http://deprovenceetdailleurs.over-blog.com">Agoramania  (Monde)</a>
			</section>
		</aside>
		<br/ style="clear:left;">
		<p style="clear:left;font-size:10px;text-align:center;margin-top:40px;">Climbing7 | Dubai 2016</p>
	</footer>
	</section>
</section>

	{% block scripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		{{ js(['jquery.justifiedGallery.js']) }}
	{% endblock %}	
</body>
</html>

