
{% extends 'layouts/base.twig' %}

{###########
	Content 
#}
{% block content %}

	<img src="{{ asset('/img/canyoning.jpg') }}" style="display:block; width:175px;height:175px;border:2px solid white;position:absolute;z-index:10;top:265px;"/>

	<div id="galleryEditor"></div>

	<a href="#" onclick="openLibrary('testFn');return false;">Open manager</a>

	<form method="POST" action="{{ path_for('admin_postEdited', {'id': post.id}) }}">

		<div class="form-group">
			<label for="title">Titre</label>
			<input id="title" type="text" name="title" value="{{ post.title }}"/>
		</div>

		<div class="form-group">
			<label for="label">Label (~ 255 caractères)</label>
			<textarea id="label" name="label">
				{{ post.label }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="category">Catégorie</label>
			<select id="category" name="category_id">

				{% for category in categories %}
					<option {{ post.category_id == category.id ? 'selected="selected"' }} value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}

			</select>
		</div>

		<div class="form-group">
			<label for="country">Pays</label>
			<input id="country" type="text" name="country" value="{{ post.country }}"/>
		</div>

		<div class="form-group">
			<label for="region">Région</label>
			<input id="region" type="text" name="region" value="{{ post.region }}"/>
		</div>

		<div class="form-group">
			<label for="site">Site</label>
			<input id="site" type="text" name="site" value="{{ post.site }}"/>
		</div>

		<div class="form-group">
			<label for="rate">Note /5</label>
			<select id="rate" name="rate">

				{% set text = '' %}
				{% for i in 1..5 %}

					{% set text = text ~ '★' %}
					<option {{ i == post.rate ? 'selected="selected"' }} value="{{ i }}">{{ text }}</option>

				{% endfor %}

			</select>
		</div>

		<div class="form-group">
			<label for="presentation">Présentation</label>
			<textarea id="presentation" name="presentation">
				{{ post.presentation }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="characteristics">Caractéristiques</label>
			<textarea id="characteristics" name="characteristics">
				{{ post.characteristics }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="access">Accès</label>
			<textarea id="access" name="access">
				{{ post.access }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="approach">Approche</label>
			<textarea id="approach" name="approach">
				{{ post.approach }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="parcours">Parcours</label>
			<textarea id="parcours" name="parcours">
				{{ post.parcours }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="back">Retour</label>
			<textarea id="back" name="back">
				{{ post.back }}
			</textarea>
		</div>

		<div class="form-group">
			<label for="date">Date</label>
			<input type="date" id="date" name="date" value="{{ post.date }}"/>
		</div>

		<input type="submit" value="Éditer"/>

	</form>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
	{{ js(['functions.js', 'API.js', 'postHelpersBundle.js']) }}

	<script>
	// ReactDOM.render(
	// 	React.createElement(PostSingleImageChanger, {postId: {{ post.id }}, field: 'cover_id', image: {{ json_encode(cover)|raw }} }),
	// 	document.getElementById('cover-imageChanger')
	// );
	ReactDOM.render(
		React.createElement(PostGalleryEditor, {postId: {{ post.id }}, images: {{ json_encode(gallery)|raw }} }),
		document.getElementById('galleryEditor')
	);
	</script>
{% endblock %}